.header{
    min-height: 70px;
    background: #f7f5f5;
    padding: 0 20px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.11);
}
.logo{
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 4px 18px rgba(0.12,0.12,0.12,0.11);
    text-decoration:transparent;
}
.navbar-items{
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 20px;
    text-shadow: 2px 4px 10px rgba(0.12,0.12,0.12,0.11);
    text-decoration:transparent;
}
.navbar-link{
    text-decoration:wavy;
    color: rgb(121, 119, 119);
}
.navbar-link:hover{
    color: black;
}
.mobile-nav-btn{
    display: none;
    cursor: pointer;
    position: relative;
    width: 35px;
    height: 35px;
}
.mobile-nav-icons{
    width: 30px;
    height: 30px;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mobile-nav-icons[name="close-outline"]{
    display: none;
}

/* ================= FOOTER ================= */

.footer {
  background: #111;
  color: #ccc;
  padding: 80px 80px 40px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.footer h3,
.footer h4 {
  color: #fff;
  margin-bottom: 20px;
}

.footer p {
  font-size: 15px;
  line-height: 1.6;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  margin-bottom: 12px;
}

.footer ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 15px;
}

.footer ul li a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-top: 60px;
  border-top: 1px solid #222;
  padding-top: 30px;
}

/* ================= MOBILE NAV ================= */

@media (max-width: 900px){
    .mobile-nav-btn{
        position: absolute;
        right: 20px;
        top: 6px;
        display: block;
        z-index: 999;
    }
    .header{
        flex-wrap: wrap;
    }
    .navbar{
        display: none;
        position: static;
        width: 100%;
        background: #f7f5f5;
        padding: 20px 0;
        
    }
    .navbar-items{
        flex-direction: column;
        padding: 10px 0;
        gap: 12PX;
        
    }
    .navbar-link{
        padding-left: 35px;
        display: block;
    }
    .active .navbar{
        display: block;
    }
    .active .mobile-nav-icons[name="menu-outline"]{
        display: none;
    }
    .active .mobile-nav-icons[name="close-outline"]{
        display: block;
    }
    .footer {
    padding: 60px 24px 30px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
    
    
}

@media(max-width: 560px){
    .logo{
        font-size: 18px;
        /* width: 50px; */
    }
}

